# IDE
/vendor/
composer.lock
.remote-sync.json


# OS
.DS_Store
Thumbs.db
__MACOSX/


# MISC
*.log
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
__MACOSX/
bfg.jar


# WIP
/tests/legacy/
__todo.txt
