# Exclude files from export
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/README.md          export-ignore
/docs               export-ignore
/tests              export-ignore
